<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">


    {% if user %}
        <a class="navbar-link" href="/profile">{{ user.username }}</a>
    <a class="navbar-brand" href="/">WeBlog</a>
        <form id="navbar-logout" action="/logout" class="logout-form">
                <input type="submit" id="login-button" value="Logout" class="btn btn-alert"/>
        </form>
    {% else %}
        <span><a class="navbar-brand" href="/">WeBlog</a></span>
        <!-- render no login navbar -->

    {% endif %}
</nav>
