.title {
    text-align: center;
}

#login-form {
    margin-top: 25px;
}

.navbar {
    justify-content: space-around;
}

.body-group {
    display: flex;
    max-width: 800px;
    flex-flow: wrap;
}

.title-entry {
    max-width: 400px;
}

.login-page-form {
    max-width: 400px;
    padding: 10px;
    border: 3px solid #73AD21;
}

.register-page-form {
    margin: auto;
    max-width: 400px;
    padding: 10px;
    border: 3px solid #73AD21
}

.homepage-form {
    margin: auto;
    max-width: 400px;
    padding: 10px;
    border: 3px solid #73AD21
}

home-login-register {
    margin: auto;
    width: 40%;
    padding: 10px;
    border: 3px solid #73AD21;
}

login-button {
    margin: auto;
}

register-button {
    margin: auto;
}

